error your password does not satisfy the current policy requirements




mysql> SHOW VARIABLES LIKE 'validate_password%';
	validate_password.check_user_name    | ON
	validate_password.policy             | MEDIUM
mysql> SET GLOBAL validate_password.policy=LOW;
	//* this is temporary until next restart
mysql> ALTER USER 'root'@'localhost' IDENTIFIED WITH mysql_native_password BY '<Password>';
mysql> ALTER USER '<Username>'@'localhost' IDENTIFIED WITH mysql_native_password BY '<Password>';

